* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
div {
  position:relative;
  z-index: 2;
}

body {
  background-color: #006400;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}
.title {
  width:450px;
  text-align:center;
  display:block;
  margin:50px auto 10px auto;
  font-size:18px;
  color:#fff;
  }
.footer {
  width:450px;
  text-align:center;
  display:block;
  margin:15px auto 30px auto;
  font-size:1em;
  color:#fff;
  
}
.footer a {
    font-weight:500;
    text-decoration:none;
    color:#fff;
  }
  .quote-text {
   
    text-align:center;
    width:450px;
    height:auto;
    clear:both;
    font-weight:500;
    font-size:1.75em;
  }
  .quote-text i {
      font-size:1.0em;
      margin-right: 0.4em;
  }

.quote-box {
  border-radius:3px;
  position:relative;
  margin:5% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color:#fff;
}

  .buttons {
    width:450px;
    margin:auto;
    display:block;
  }
         
